# ===============================
# DATASETS (DO NOT PUSH)
# ===============================
data/
data/*
*.txt
*.csv

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ===============================
# MODELS & OUTPUTS
# ===============================
models/
*.pkl
*.joblib

# ===============================
# JUPYTER
# ===============================
.ipynb_checkpoints/

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / EDITOR
# ===============================
.vscode/
.idea/